
.valuebox {
    width: 100px;
    height: 100px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    background-color: #eceaea;
    border: 1px solid #e0dbdb;
    color: rgb(8, 8, 7);
    border-radius: 50px;
    cursor: pointer;
    margin: 5px;
    outline: none;
  }
  .game{
    padding:  1% 10%;
    background-color: black;
    width: max-content;
    height: max-content;
    margin: 0% 30%;
   
  }
  
  .valuebox:hover {
    background-color: #d7c9c9;
  }
  
  .valuebox:active {
    background-color: #bbb;
  }
  .row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .status {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .status {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  .reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #ff6666;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  .reset-button:hover {
    background-color: #ff4d4d;
  }
  
  .reset-button:active {
    background-color: #ff3333;
  }